h2 {
  color: black;
  font-size: 30px;
}

.success {
  color: green;
  border: 3px solid green;
  background: lightgrey;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  border: 3px solid red;
  background: lightgrey;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
}
